{# jogos_inserir.html #}
{% extends "_base.html" %}

{% block conteudo %}
<h3>Inserir jogos</h3>

{% if erro %}
<p style="color: red;">⚠️{{ erro }}</p>
{% endif %}

<form action="jogos_inserir.php" method="post" enctype="multipart/form-data">
    <input type="text" name="nome" placeholder="nome" >
    <br>
    Estilo: <select name="estilo">
        <option value="acao">Ação</option>
        <option value="tiro">Tiro</option>
        <option value="rpg">RPG</option>
        <option value="aventura">Aventura</option>
        <option value="estrategia">Estratégia</option>
        <option value="simulacao">simulação</option>
        <option value="esportes">Esportes</option>
        <option value="puzzle">puzzle</option>
        <option value="corrida">Corrida</option>
    </select>
    <br>
    Capa: <input type="file" name="capa">
    <br>
    <input type="submit" value="gravar">
</form>
{% endblock %}
